body {
  margin: 0;
  background: #000;
  color: #ffd400;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 400px;
  margin: 80px auto;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

button {
  background: #ffd400;
  color: #000;
  border: none;
  padding: 14px 22px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

#walletInfo {
  margin-top: 20px;
  text-align: left;
  background: #111;
  padding: 15px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
input {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

#qrcode {
  margin-top: 15px;
  padding: 10px;
  background: #fff;
  display: inline-block;
  border-radius: 10px;
}

.hint {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 8px;
}

#qrBox {
  margin-top: 25px;
}
